.sign-up{
	width:450px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;

	.title{
		letter-spacing: 1px;
	}

	.sub-title{
		text-transform: uppercase;
		font-size: 14px;
		color: #777;
		margin: 0;
	}
}